In [16]:
import string
import numpy as np
import pandas as pd
import sklearn

import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv('tv_shows_data.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

# EDA

In [18]:
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,22998,22998,22998,14739,17677,11499,13444,22998.000000,22134,22516,22998,22994
unique,9668,2,22115,10106,16748,886,2058,NaN,105,253,1687,22670
top,s1,Movie,Star Trek: Enterprise,Mark Knight,Maggie Binkley,United States,"November 12, 2019",NaN,TV-MA,1 Season,Drama,"Arpo was designed as a commando robot, built a..."
freq,4,16481,3,113,56,4997,724,NaN,3675,4183,1061,15
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.811244,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.401142,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1920.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14739 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
dtypes: int64(1), object(11)
memory usage: 2.1+ MB

In [19]:
pd.DataFrame({'Total missing values':df.isna().sum(),
              'Percentage':(df.isna().sum()/len(df))*100})

              Total missing values  Percentage
show_id                          0    0.000000
type                             0    0.000000
title                            0    0.000000
director                      8259   35.911818
cast                          5321   23.136795
country                      11499   50.000000
date_added                    9554   41.542743
release_year                     0    0.000000
rating                         864    3.756848
duration                       482    2.095834
listed_in                        0    0.000000
description                      4    0.017393

In [20]:
new_df = df[['title', 'type', 'director', 'cast', 'rating', 'listed_in', 'description']]
new_df.set_index('title', inplace=True)
new_df.head()

,type,director,cast,rating,listed_in,description
title,,,,,,
The Grand Seduction,Movie,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",NaN,"Comedy, Drama",A small fishing village must procure a local d...
Take Care Good Night,Movie,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",13+,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
Secrets of Deception,Movie,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",NaN,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
Pink: Staying True,Movie,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",NaN,Documentary,"Pink breaks the mold once again, bringing her ..."
Monster Maker,Movie,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",NaN,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [21]:
new_df.fillna('', inplace=True)

In [22]:
# For director, cast, and listed_in
# Because there is more than 1 people and categories
# We don't want if people share the same first or last name consider the same person
# or the word that appear in many categories (TV, etc) consider the same category
def separate(texts):
    t = []
    for text in texts.split(','):
        t.append(text.replace(' ', '').lower())
    return ' '.join(t)

def remove_space(texts):
    return texts.replace(' ', '').lower()

def remove_punc(texts):
    return texts.translate(str.maketrans('','',string.punctuation)).lower()

In [23]:
new_df['type'] = new_df['type'].apply(remove_space)
new_df['director'] = new_df['director'].apply(separate)
new_df['cast'] = new_df['cast'].apply(separate)
new_df['rating'] = new_df['rating'].apply(remove_space)
new_df['listed_in'] = new_df['listed_in'].apply(separate)
new_df['description'] = new_df['description'].apply(remove_space)

new_df.head()

,type,director,cast,rating,listed_in,description
title,,,,,,
The Grand Seduction,movie,donmckellar,brendangleeson taylorkitsch gordonpinsent,,comedy drama,asmallfishingvillagemustprocurealocaldoctortos...
Take Care Good Night,movie,girishjoshi,maheshmanjrekar abhaymahajan sachinkhedekar,13+,drama international,ametrofamilydecidestofightacybercriminalthreat...
Secrets of Deception,movie,joshwebber,tomsizemore lorenzolamas robertlasardo richard...,,action drama suspense,afteramandiscovershiswifeischeatingonhimwithan...
Pink: Staying True,movie,soniaanderson,interviewswith:pink adele beyoncé britneyspear...,,documentary,"pinkbreaksthemoldonceagain,bringinghercareerto..."
Monster Maker,movie,gilesfoster,harrydeanstanton kierano'brien georgecostigan ...,,drama fantasy,teenagemattbantingwantstoworkwithafamousbutecc...

# Combining words

In [ ]:
new_df['bag_of_words'] = ''

# Combine all the words into 1 column
for i, row in enumerate(new_df.iterrows()):
    string = ''
    for col in new_df.columns:
        if row[1][col] == '':
            continue
        else:
            string += row[1][col] + ' '
            new_df['bag_of_words'][i] = string.strip()

new_df.drop(new_df.columns[:-1], axis=1, inplace=True)

In [ ]:
new_df.head()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import ipywidgets as widgets
from IPython.display import display

<h1 style="font-family: Trebuchet MS; font-size: 25px; color: #a4161a; text-align: left; "><b>TF-IDF</b></h1>

**TF-IDF** stands for Term Frequency — Inverse Document Frequency. It tells the importance of a word. In a nutshell, The word that appear more frequently in the corpus, it will be considered less importance, hence the tfidf score will be lower. It goes the opposite way with less frequent word|

# Content-based filtering using the cosine similarity

In [67]:
tfid = TfidfVectorizer()
tfid_matrix = tfid.fit_transform(new_df['bag_of_words'])

#tfid_matrix.vocabulary_

In [68]:
cosine_sim = cosine_similarity(tfid_matrix, tfid_matrix)
cosine_sim

array([[1.00000000e+00, 6.51109225e-03, 2.51508724e-02, ...,
        1.22541028e-02, 2.30160299e-02, 3.60339526e-02],
       [6.51109225e-03, 1.00000000e+00, 1.02129814e-02, ...,
        1.37342009e-03, 0.00000000e+00, 7.44741025e-04],
       [2.51508724e-02, 1.02129814e-02, 1.00000000e+00, ...,
        7.23719722e-03, 7.21477380e-03, 4.24499407e-02],
       ...,
       [1.22541028e-02, 1.37342009e-03, 7.23719722e-03, ...,
        1.00000000e+00, 1.99475996e-02, 5.30430706e-03],
       [2.30160299e-02, 0.00000000e+00, 7.21477380e-03, ...,
        1.99475996e-02, 1.00000000e+00, 4.54842501e-03],
       [3.60339526e-02, 7.44741025e-04, 4.24499407e-02, ...,
        5.30430706e-03, 4.54842501e-03, 1.00000000e+00]])

In [69]:
# Later on we will combine with similarity as a column
final_df = df[['title', 'type']]

In [70]:
def recommendation(title, total_result=5, threshold=0.5):
    # Get the index
    idx = final_df[final_df['title'] == title].index[0]
    # Create a new column for similarity, the value is different for each title you input
    final_df['similarity'] = cosine_sim[idx]
    sort_final_df = final_df.sort_values(by='similarity', ascending=False)[1:total_result+1]
    
    
    # Is the title a movie or tv show?
    movies = sort_final_df['title'][sort_final_df['type'] == 'Movie']
    tv_shows = sort_final_df['title'][sort_final_df['type'] == 'TV Show']
    
    
    return tv_shows
    
tv_show_input= widgets.Text(
    value="",
    description="Similar Tv_show(s) list",
    disabled=False
 )
tv_shows=widgets.Output()
    
def on_type(data):
        with tv_shows:
            tv_shows.clear_output()
            title=data["new"]
            if len(title)>=3:
                list=recommendation(title)
                for i, tv_show in enumerate(list):
                    print('{}. {}'.format(i+1, tv_show))
        
    
    #if len(tv_shows) != 0:
      #  print('Similar TV_show(s) list:')
        #for i, tv_show in enumerate(tv_shows):
          #  print('{}. {}'.format(i+1, tv_show))
    #else:
        #print('Similar TV_show(s) list:')
       # print('-')
    
tv_show_input.observe(on_type, names="value")

display(tv_show_input,tv_shows)

Text(value='', description='Similar Tv_show(s) list')

Output()

## Search Box

In [ ]:
vectorizer=TfidfVectorizer(ngram_range=(1,2))
tfidf= vectorizer.fit_transform(df['title'])
import numpy as np
def search(title):
    query_vec=vectorizer.transform([title])
    similarity= cosine_similarity(query_vec,tfidf).flatten()
    indices=np.argpartition(similarity,-5)[-5:]
    results=df.iloc[indices][::-5]
    return results

tv_show_input= widgets.Text(
   value="Stranger Things",
   description="Movie Title",
   disabled=False
)

tv_show_list=widgets.Output()

def on_type(data):
    with tv_show_list:
        tv_show_list.clear_output()
        title=data["new"]
        if len(title)>5:
            display(search(title))

tv_show_input.observe(on_type, names="value")

display(tv_show_input, tv_show_list)